In [172]:
import pandas as pd

data = pd.read_csv(r"C:\Users\Auditics Lap-\Downloads\corona_tested_006.csv")
data

C:\Users\Auditics Lap-\AppData\Local\Temp\ipykernel_5740\1566740181.py:3: DtypeWarning: Columns (8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"C:\Users\Auditics Lap-\Downloads\corona_tested_006.csv")

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact,Unnamed: 11
0,1,43901,1,0,1,0,0,0,NaN,NaN,Abroad,1 = yes
1,2,43901,0,1,0,0,0,1,NaN,NaN,Abroad,0 = No
2,3,43901,0,1,0,0,0,1,NaN,NaN,Abroad,NaN
3,4,43901,1,0,0,0,0,0,NaN,NaN,Abroad,NaN
4,5,43901,1,0,0,0,0,0,NaN,NaN,Contact with confirmed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
278843,278844,43951,0,0,0,0,0,1,NaN,male,Other,NaN
278844,278845,43951,0,0,0,0,0,0,NaN,female,Other,NaN
278845,278846,43951,0,0,0,0,0,0,NaN,male,Other,NaN
278846,278847,43951,0,0,0,0,0,0,NaN,male,Other,NaN
278847,278848,43951,0,0,0,0,0,0,NaN,female,Other,NaN

In [174]:

input_file = data[['Cough_symptoms', 'Fever', 'Sore_throat', 'Shortness_of_breath', 'Headache']]
x = input_file
x

        Cough_symptoms  Fever  Sore_throat  Shortness_of_breath  Headache
0                    1      0            1                    0         0
1                    0      1            0                    0         0
2                    0      1            0                    0         0
3                    1      0            0                    0         0
4                    1      0            0                    0         0
...                ...    ...          ...                  ...       ...
278843               0      0            0                    0         0
278844               0      0            0                    0         0
278845               0      0            0                    0         0
278846               0      0            0                    0         0
278847               0      0            0                    0         0

[278848 rows x 5 columns]

In [176]:
output_file = data['Corona']
y = output_file
y

0         0
1         1
2         1
3         0
4         0
         ..
278843    1
278844    0
278845    0
278846    0
278847    0
Name: Corona, Length: 278848, dtype: int64

In [178]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2)
result_file = DecisionTreeClassifier()
result_file.fit(x,y)
final_result = result_file.predict([[1,1,1,1,1],[1,0,1,0,0]])
final_result

C:\Intel\anaconda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1, 1], dtype=int64)

In [184]:

result_file.fit(x,y)
final_result = result_file.predict(x_test)
accuracy = accuracy_score(y_test,final_result)
accuracy

0.9442711135018828